@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<div class="container d-flex justify-content-center align-items-center" style="width:100vh; height:100vh">
    <h1>Yarışmaya katılmak için yöneticiden yarışma linkini talep ediniz.</h1>
</div>
