@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<div id="appContainer" class="container mt-5 d-flex flex-column justify-content-center align-items-center", style="width:100vh;height:100vh;">

</div>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        updateAppState('loader');
    });
</script>